*{
    padding:0;
    margin:0;
    font-family:sans-serif;
    /* box-sizing: border-box; */
    overflow-x: hidden;
    overflow: hidden;
}
body{
    background: #efefef;
}

 
.row{
    border:1px solid transparent;
    background: white;
    border-radius: 5px;
     text-align:centre; 
    width:60%;  
    /* margin:5%; */
       margin-left: 20%; 
     padding-right: 10px !important;
    padding-left: 10px;

    /* padding-left: 0px;
    margin-right: 5%; 
    padding-right:0px !important; */
}





.myInput{
    width:60%; 
    height:20px;
    border-radius: 0%;
    
    
}
.form-control{
    height:20px;
    font-size: 10px;
  
}
label{
    font-size: 9px;
    
  
   
    
}
input{
    font-size: 9px;
}


.btn{
    width:45% !important;
   height:24px;
   color:white;
 
    border-radius:5px !important;
    font-size:10px ; 
    text-align: left; 
    justify-content: left;

}

   
    





